<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
<body>
    <div>
        <div>
            <h2>Recuperar constraseña</h2>

            <p>Hola {{ name }}</p>
            <p>Has solicitado restablecer tu contraseña. Por favor, haz clic en el siguiente enlace para completar el proceso:</p>
            <p>
                <a href="{{ resetUrl }}">Recuperar contraseña</a>
            </p>
            <p>Si no solicitaste esto, puedes ignorar este correo electrónico.</p>
            <p>¡Gracias!</p>
        </div>
    </div>
</body>